<form method="post" action="/subirfoto" enctype="multipart/form-data">
seleccione una foto:
<input type="file" name="foto">
<br>
seleccione una foto:
<input type="file" name= "foto">
<br>
<input type="submit" value="subir">
</form>